* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(33, 33, 61);
}

.movie__wrapper {
  position: relative;
}
