* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(33, 33, 61);
}

.movie__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.movie__info {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: rgb(70, 70, 110);
  color: #fff;
  font-size: 20px;
}

.movie__title {
  font-weight: bold;
}
